In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [ ]:
#data
df = pd.read_excel('Health Expenditure IMF GFS COFOG.xlsx')

#just for IMF GFS
nan_value = float("NaN")
df.replace("", nan_value, inplace=True)

df.dropna(how='all', axis=1, inplace=True)

#country concordance 
country = pd.read_excel('IMFGFS Country.xlsx')
dt = country.merge(df, left_on='IMFGFS_Country', right_on='Country', how='left')
dt = dt.drop(columns=['IMFGFS_Country', 'Country_y']) 
dt = dt.rename(columns={'Country_x': 'Country'})

year_columns = [col for col in dt.columns if col.isdigit()]
dt['Earliest'] = dt[year_columns].bfill(axis=1).iloc[:, 0]
dt['MostRecent'] = dt[year_columns].ffill(axis=1).iloc[:, -1]

#change decimal place according to the datadict
dt[year_columns + ['Earliest', 'MostRecent']] = dt[year_columns + ['Earliest', 'MostRecent']].round(5)

In [40]:
dt

,Country,FIPS_CODE,1972,1973,1974,1975,1976,1977,1978,1979,...,2016,2017,2018,2019,2020,2021,2022,2023,Earliest,MostRecent
0,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.87986,2.0053,NaN,NaN,NaN,NaN,NaN,NaN,1.38715,2.00530
1,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.83959,2.9247,2.994,3.0251,3.13156,3.42476,2.98322,2.79689,2.68762,2.79689
2,Algeria,DZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Viet Nam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Yemen,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.24456,1.60371
186,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#sql table; change table name each time you import 
conn = sqlite3.connect(r'C:\IFs\RUNFILES\IFsDataImport.db') 
table_name = 'SeriesGovtCalcHealthTot%GDP'
dt.to_sql(table_name, conn, if_exists='replace', index=False)
#remember to input the datadict entry

<>:2: SyntaxWarning: invalid escape sequence '\I'
<>:2: SyntaxWarning: invalid escape sequence '\I'
C:\Users\Norah\AppData\Local\Temp\ipykernel_31524\3429175198.py:2: SyntaxWarning: invalid escape sequence '\I'
  conn = sqlite3.connect('C:\IFs\RUNFILES\IFsDataImport.db')

188